extends layout.pug

block append content
  .container
    .block
      h1.titleHighlight Olá,
      p Você solicitou uma nova senha de acesso ao aplicativo da 
        | GTS, onde você pode entrar em contato diretamente com 
        | empresas parceiras para ter um atendimento personalizado.

    .block
      p Sua nova senha é:
        .block.dashRight
          h2.titleHighlight Senha
          .boxHighlight.centerContent
            p #{password}

    .block
      p Utilize seu e-mail e essa nova senha para acessar o aplicativo.
    
    .block.actions
      a(class='button', href=frontendAppURL, target='_blank') Ir para o aplicativo

    .block
      p Atenciosamente,
      p 
        b
          small.titleHighlight Equipe GTS


